.git
.idea
logs
.DS_Store

# Ignore directories of /app except common and alpha.
app/*
!app/common/
!app/alpha/

# Ignore directories of /test/testcases/app except common and alpha.
test/testcases/app/*
!test/testcases/app/common/
!test/testcases/app/alpha/

# Ignore runtime directory.
runtime/
