.git
.idea
logs
.DS_Store

# ignore directories of /app except common and alpha
app/*
!app/common/
!app/alpha/

# ignore directories of /test/testcases/app except common and alpha
test/testcases/app/*
!test/testcases/app/common/
!test/testcases/app/alpha/

# ignore runtime directory
runtime/