.git
.idea
logs
.DS_Store

# ignore directories of /app except core and alpha
app/*
!app/core/
!app/alpha/

# ignore directories of /test/testcases/app except core and alpha
test/testcases/app/*
!test/testcases/app/core/
!test/testcases/app/alpha/

# ignore runtime directory
runtime/